<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../redux-store.html">

<dom-module id="add-topic">
  <template>
    <style>
      paper-fab {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    </style>
    <paper-input id="search" type="search"></paper-input>
    <iron-list items="[[results]]" as="item" selected-item="{{selected}}" selection-enabled>
      <template>
        <paper-item>
          <paper-item-body two-line>
            <div>[[item.label]]</div>
            <div secondary>[[item.description]]</div>
          </paper-item-body>
        </paper-item>
      </template>
    </iron-list>
    <paper-fab icon="done" on-click="_createTopic"></paper-fab>
  </template>
  <script>
    Polymer({

      is: 'add-topic',
      behaviors: [ ReduxBehavior ],

      actions: {
        search: function(term, language) {
          return {
            type: 'SEARCH_REQUESTED',
            term: term,
            language: language
          }
        },
        addTopic: function(wikidataId, profile) {
          return {
            type: 'ADD_TOPIC_REQUESTED',
            wikidataId: wikidataId,
            profile: profile
          }
        }
      },

      properties: {
        selected: {
          type: Object
        },
        profile: {
          type: Object,
          statePath: 'profile'
        },
        language: {
          type: String,
          statePath: 'language'
        },
        results: {
          type: Array,
          statePath: 'searchResults'
        }
      },

      listeners: {
        'search': '_searchTopic'
      },

      _searchTopic: function (e) {
        return this.dispatch('search', e.target.value, this.get('language'))
      },

      _createTopic: function (e) {
        this.dispatch('addTopic', this.get('selected').id, this.get('profile'))
        return this.fire('done')
      }

    })
  </script>
</dom-module>
