<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../redux-store.html">
<link rel="import" href="language-select.html">
<link rel="import" href="login-prompt.html">
<link rel="import" href="topics-list.html">
<link rel="import" href="add-topic.html">

<dom-module id="app-shell">
  <template>
    <style>
      :host {
        display: block;
      }
      paper-fab {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    </style>
    <!-- TODO: remove use-hash-as-path -->
    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route
      route={{route}}
      pattern="/:view"
      data="{{routeData}}">
    </app-route>

    <template is="dom-if" if="[[profile]]">
      <app-toolbar>
        <div main-title>[[profile.name]]</div>
        <language-select></language-select>
      </app-toolbar>
    </template>

    <iron-pages
      selected="[[view]]",
      attr-for-selected="name">
      <login-prompt
        name="login"></login-prompt>
      <topics-list
        name="topics"
        on-new-requested="_showAddTopic"></topics-list>
      <add-topic
        name="add"
        on-done="_showTopicsList"></add-topic>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: 'app-shell',
      behaviors: [ ReduxBehavior ],

      properties: {
        view: {
          type: String,
          reflectToAttribute: true
        },
        profile: {
          type: Object,
          statePath: 'profile'
        }
      },

      observers: [
        '_loggedIn(profile)',
        '_routePageChanged(routeData.view)'
      ],

      _loggedIn: function (profile) {
        if(this.view === 'login') this.set('routeData.view', '')
      },

      _routePageChanged: function (view) {
        return this.view = view || 'topics'
      },

      _showAddTopic: function(e) {
        return this.set('routeData.view', 'add')
      },

      _showTopicsList: function () {
        return this.set('routeData.view', '')
      },

      attached: function () {
        return this.set('route.path', '/login')
      }

    })
  </script>
</dom-module>
