<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../redux-store.html">
<dom-module id="language-select">
  <template>
    <paper-dropdown-menu>
      <paper-listbox class="dropdown-content"
                     attr-for-selected="name"
                     selected="[[language]]"
                     on-iron-select="_setLanguage">
        <template is="dom-repeat" items="[[languages]]">
          <paper-item name="[[item]]">[[item]]</paper-item>
        </template>
      </paper-listbox>
    </paper-dropdown-menu>
  </template>
  <script>
    Polymer({
      is: 'language-select',
      behaviors: [ ReduxBehavior ],

      actions: {
        setLanguage: function(language) {
          return {
            type: 'SET_LANGUAGE',
            language: language
          }
        }
      },

      properties: {
        language: {
          type: String,
          statePath: 'language'
        },
        languages: {
          type: Array,
          value: [ "ar", "ca", "de", "el", "en", "es", "fr", "he", "hi", "it", "ja", "pl", "ru" ]
        }
      },

      _setLanguage: function(e) {
        return this.dispatch('setLanguage', e.detail.item.name)
      },

    })
  </script>
</dom-module>
