<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../redux-store.html">

<dom-module id="login-prompt">
  <template>
    <iron-a11y-keys id="a11y" keys="enter"
                  on-keys-pressed="onLoginSubmit"></iron-a11y-keys>
    <paper-input id="login" placeholder="webid"></paper-input>
    <paper-icon-button icon="account-box" on-click="onLoginSubmit"></paper-icon-button>
  </template>
  <script>
    Polymer({

      is: 'login-prompt',
      behaviors: [ ReduxBehavior ],

      actions: {
        login: function(webid) {
          return {
            type: 'FETCH_PROFILE_REQUESTED',
            webid: webid
          }
        }
      },

      onLoginSubmit: function () {
        return this.dispatch('login', this.$.login.value)
      }
    })
  </script>
</dom-module>
