<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../redux-store.html">

<dom-module id="topics-list">
  <template>
    <style>
      paper-fab {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    </style>
    <iron-list items="[[topics]]" as="item">
      <template>
        <paper-item>[[localize(item.uri)]]</paper-item>
      </template>
    </iron-list>
    <paper-fab icon="add" on-click="onNewClick"></paper-fab>
  </template>
  <script>
    Polymer({
      is: 'topics-list',
      behaviors: [ ReduxBehavior, Polymer.AppLocalizeBehavior ],
      properties: {
        topics: {
          type: Array,
          statePath: 'topics'
        },
        language: {
          type: String,
          statePath: 'language'
        },
        resources: {
          type: Object,
          statePath: 'labels'
        }
      },

      onNewClick: function(e) {
        return this.fire('new-requested')
      },

    })
  </script>
</dom-module>
